<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approval Page</title>
    <%- include('../ReusableComponents/BootstrapCDN.ejs') %>
</head>
<style>

    /* Set the color of carousel control icons to black */
    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: black !important;
    }


</style>
<body>
    <%- include('../ReusableComponents/LoadOverlay.ejs') %>
    <div class="container">
        <h1 class="text-center my-3">Pending Approvals</h1>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="text-center">
                                <th>Email To</th>
                                <th>Subject</th>
                                <th>Message</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% pendingApprovals.forEach(function(approval) { %>
                            <tr>
                                <td>
                                    <ul>
                                        <% approval.to.forEach(function(email) { %>
                                            <li><%= email %></li>
                                        <% }); %>
                                    </ul>
                                </td>
                                <td><%= approval.subject %></td>
                                <td><%= approval.message %></td>
                                <td>
                                    <div class="btn-group my-1">
                                        <button class="btn btn-primary mr-1" data-toggle="modal" data-target="#carouselModal-<%= approval._id %>"> 👀 Attachments </button>
                                        <button class="btn btn-success mr-1" onclick="ApproveMail( '<%= approval._id %>')"> ✅ Approve </button>
                                        <button class="btn btn-danger" onclick="RejectMail('<%= approval._id %>')"> ❌ Reject </button>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Images -->
    <% pendingApprovals.forEach(function(approval) { %>
    <div class="modal fade" id="carouselModal-<%= approval._id %>" tabindex="-1" role="dialog" aria-labelledby="carouselModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered mx-auto" style="max-width: 80%; max-height: 80vh;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carouselModalLabel">Attached Images</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="carousel-<%= approval._id %>" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <% approval.images.forEach(function(image, index) { %>
                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                    <img src="<%= image.path %>" class="d-block w-100" style="object-fit: contain; max-height: 80vh; max-width: 100%;" alt="<%= image.filename %>">
                                    <div class="carousel-caption d-none d-md-block">
                                        <%= image.filename %>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-<%= approval._id %>" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-<%= approval._id %>" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</body>
</html>
<!-- axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

function ApproveMail(id)
{
    console.log(id)
    axios.post('/approveMail', {id: id}).then((response) => {
        alert(response.data)
        window.location.reload()
    }).catch((error) => {
        console.log(error)
    })
}

function RejectMail(id) 
{
    console.log(id)
    axios.post('/rejectMail', {id: id}).then((response) => {
        alert(response.data)
        window.location.reload()
    }).catch((error) => {
        console.log(error)
    })
}

</script>
