<!DOCTYPE html>
<html lang="en">

<%- include('./ReusableComponents/BootstrapCDN.ejs') %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS</title>
</head>

  <body>

    <link rel="stylesheet" href="/Styles/Events.css">

    <%- include('./ReusableComponents/navbar.ejs',{ activePage : page, email: emailTo }) %>
    <%- include('./ReusableComponents/LoadOverlay.ejs') %>


    <div class="overlay-container" id="overlay" hidden>
        
        <button class="btn float-right" onclick="closeIt('overlay')"> <span> &#10006; </span> </button>

            <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                    <div class="card mb-3">
                        <div class="feed-header bg-dark text-white d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center mx-auto">
                                <span>POST EVENT</span>
                            </div>
                            <button class="btn" onclick="closeIt('overlay')"> <span> &#10006; </span> </button>
                        </div>
                        <div class="feed-content p-3">
                            
                            <form id="myForm">
                                <textarea class="form-control mb-3 mt-2" name="title" rows="1" placeholder="Write your Title here..." required></textarea>
                                <textarea class="form-control mb-3 mt-2" name="titleLink" rows="1" placeholder="Paste Title Link Here (if any)..."></textarea>
                                <textarea class="form-control mb-3 mt-2" name="post" rows="4" placeholder="Write your event post here..." required></textarea>
                                <span class="badge badge-info"> atmost <%=fileLimit%> files are allowed </span>
                                <span class="badge badge-info"> each image size must <= <%=fileSize%>MB </span>
                                <span class="badge badge-info"> only .png .jpg .jpeg allowed </span>
                                <input type="file" name="images" accept=".png, .jpg, .jpeg" multiple class="form-control mb-3 mt-2"> 
                                <input type="submit" value="Post" class="form-control mb-3 mt-2 btn btn-primary btn-block">
                            </form>
                            
                        </div>
                    </div>
            </div>
            </div>

    </div>

  
    <div class="container mt-5">
      
      <!-- banner -->
      <div class="mb-3 banner" style="background-color:#be1e2e">
        <div class="text-center">
          <img src="GUI/icons/Events.gif" style="height: 80px;">
        </div>
      </div>
      
      <!-- Button Above the Timeline -->
      <div class="mb-3">
        <button type="button" id="postEventButton" class="btn btn-primary btn-block" <%= (coordinator == false) ? 'disabled' : '' %> onclick="openIt('overlay')">
          <% if(coordinator == false){ %> <span>&#x1F512;</span>  <% } %> Post Event
        </button>
      </div>
      
      <!-- Timeline -->
      <div class="timeline">
        <% for(var i=0;i<events.length;i++) { %>

          <div class="card">
            <!-- Header with Color -->
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center event-header">
              <h5 class="card-title"><a href="<%= events[i].titleLink %>" class="linkCSS" target="_blank"><%= events[i].title %></a></h5>
              <% if(emailTo == events[i].userPosted.email) { %>
                <button class="btn ml-auto" onclick="deleteCard('<%=events[i].id%>')" style="background-color: #3c4349"><span> &#10006; </span></button>
              <% } %>
            </div>
            
            <!-- Event Description -->
            <div class="card-body">
              <pre class="card-text" style="white-space: pre-wrap;"><%= events[i].description %></pre>
              
            </div>

            <% if(events[i].images.length != 0) { %>
              <div id="carouselExampleIndicators<%=i%>" class="carousel slide imageCarousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <% for(var j=0; j < events[i].images.length ; j++ ) { %>
                        <li data-target="#carouselExampleIndicators<%=i%>" data-slide-to="<%=j%>" class=" <%= (j == 0) ? 'active' : ''  %>"></li>
                    <% } %>
                </ol>
                <div class="carousel-inner">
                    <% for(var j=0; j < events[i].images.length ; j++ ) { %>
                        
                        <div class="carousel-item <%= (j == 0) ? 'active' : '' %>">
                          <img class="d-block w-100" src="<%=events[i].images[j].link%>">
                        </div>
                        
                    <% } %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators<%=i%>" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators<%=i%>" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            <% } %>
            <!-- Footer -->
            <div class="card-footer text-muted d-flex justify-content-between">
              <small style="font-size: 11px;"><%=(events[i].postedOn).toLocaleDateString() %></small>
              <small style="font-size: 11px;"><%=(events[i].postedOn).toLocaleTimeString() %></small>
              <small style="display: flex; align-items: center; font-size: 11px;">
                Posted by : &nbsp;
                <a href="/profile/<%= events[i].userPosted.email %>" class="d-flex align-items-center profile-link">
                  <div>
                    <p class="mb-0" style="font-size: 11px;"><%=events[i].userPosted.name%></p>
                  </div>
                </a>
              </small>
              
            </div>
          </div>
      
        <br>
      
        <% } %>
        <br>
      </div>
    </div>
    
  </body>

  <%- include('./ReusableComponents/pagenation.ejs',{ NumberOfPages : NumberOfPages, CurPage: CurPage,page : page }) %>
  

  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/Scripts/Events.js"></script>

</html>
