<!DOCTYPE html>
<html lang="en">

<%- include('./ReusableComponents/BootstrapCDN.ejs') %>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
</head>
<link rel="stylesheet" href="/Styles/Home.css">

<body>

  <%- include('./ReusableComponents/navbar.ejs',{ activePage : page, email: emailTo }) %>

  <div class="container mt-5">
    <!-- Button Above the Timeline -->
    <div class="mb-3">
      <button id="postEventButton" class="btn btn-primary btn-block" disabled>
        <span class="lock-icon">&#x1F512;</span> Post Event
      </button>
    </div>
    
    <!-- Timeline -->
    <div class="timeline">
      <% for(var i=0;i<events.length;i++) { %>
      <!-- Event Item 1 -->
      <div class="event">
        <div class="event-header">
          <!-- Event Title -->
          <h5 class="event-title">
            <a href="<%= events[i].eventLink %>" target="_blank"><%= events[i].eventName %></a>
          </h5>
          <!-- Delete Button with Generic Bin Icon -->
          <button class="delete-button">
            <span class="delete-icon">&#10006;</span>
          </button>
        </div>
        <div class="event-content">
          <span class="badge badge-primary">Date: <%= events[i].eventDate %></span>
          <p><%= events[i].eventDescription %></p>
          <p><b><%= (events[i].winners.length) ? "Winners : " : "" %></b></p>
          <ul>
            <% for(var j=0;j<events[i].winners.length; j++){ %>
            <% for(const key in events[i].winners[j]) { %>
            <li><%= key %>: <%= events[i].winners[j][key] %></li>
            <% } %>
            <% } %>
          </ul>
          <!-- Posted by -->
          <div class="posted-by badge badge-secondary">
            Posted by: <%= events[i].postedBy %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

</body>

</html>
