<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./ReusableComponents/BootstrapCDN.ejs') %>
    <title>Profile</title>

</head>
    <link rel="stylesheet" href="/Styles/common.css">
<body>
    <%- include('./ReusableComponents/navbar.ejs',{ activePage : page, email: myEmail }) %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="<%= photo %>" alt="Profile Photo" class="img-fluid rounded-circle mb-3" style="width: 150px;">
                        <h4><%= displayName %></h4>
                        <p>Email: <%= hisEmail %></p>
                        <p>Designation: <%= designation %></p>
                        <div class="mb-2">
                            <p>Codeforces ID: <a href="#" target="_blank">your_codeforces_id</a></p>
                            <p>CodeChef ID: <a href="#" target="_blank">your_codechef_id</a></p>
                            <p>AtCoder ID: <a href="#" target="_blank">your_atcoder_id</a></p>
                        </div>
                        <a href="#" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>