<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./ReusableComponents/BootstrapCDN.ejs') %>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
<body>
    <%- include('./ReusableComponents/navbar.ejs',{ activePage : page, email: myEmail }) %>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="<%= photo %>" alt="Profile Photo" class="img-fluid rounded-circle mb-3" style="width: 150px;">
                        <h4><%= displayName %></h4>
                        <br>
                        <p>Email: <%= hisEmail %></p>
                        <p>Designation: <%= designation %></p>
                        <!-- Logout Button -->
                        <% if(myProfile){ %>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./ReusableComponents/Credit.ejs') %>
</body>
</html>